#controlPanel {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.moveButton {
  font-size: 2em;
  width: 2.5rem;
  aspect-ratio: 1;
  font-family: "Courier New", Courier, monospace;
}

#middleButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.icon {
  font-size: 2em;
}

#statusPanel {
  padding: 1rem;
}
